<header id="header">
  <div class="inner">
    <a href="/" class="image avatar"><img src="./images/avatar.jpg" alt="" /></a>
    <h1><strong>Clean coder</strong>, founder,<br />
      open source contributor,<br />
      tech-architect, full stack consultant</h1>

    <br />
    <tag-list></tag-list>
  </div>
</header>
