<site-layout>
  <@title>Rajat Talwar</@title>
  <@content>
    <page-header></page-header>

    <!-- Main -->
    <event-detail />

    <!-- Footer -->
    <page-footer></page-footer>
  </@content>
</site-layout>
