<site-layout>
  <@title>Rajat Talwar</@title>
  <@content>
    <page-header></page-header>

    <!-- Main -->
    <sections />

    <!-- Footer -->
    <page-footer></page-footer>
    <!-- <chat-window url="http://localhost:8080/mobile"></chat-window> -->
  </@content>
</site-layout>
